DATABASE_URL="URL"

PORT=8000

APP_URL=YOUR_APP_URL

BCRYPT_SALT_ROUNDS=YOUR_SALT_VALUE

JWT_ACCESS_SECRET=SECRET

JWT_REFRESH_SECRET=SECRET

JWT_ACCESS_EXPIRES_IN=DAY

JWT_REFRESH_EXPIRES_IN=DAY

STRIPE_PRICE_ID=KEY

STRIPE_SECRET_KEY=KEY

STRIPE_WEBHOOK_SECRET=SECRET